USE [master]
GO
/****** Object:  Database [FairVisitorMonitoringBD]    Script Date: 5/28/2015 8:25:44 AM ******/
CREATE DATABASE [FairVisitorMonitoringBD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FairVisitorMonitoringBD', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\FairVisitorMonitoringBD.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'FairVisitorMonitoringBD_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\FairVisitorMonitoringBD_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FairVisitorMonitoringBD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FairVisitorMonitoringBD]
GO
/****** Object:  Table [dbo].[VisitorTable]    Script Date: 5/28/2015 8:25:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VisitorTable](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[ContactNumber] [varchar](50) NOT NULL,
 CONSTRAINT [PK_VisitorTable] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VisitorZoneTable]    Script Date: 5/28/2015 8:25:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VisitorZoneTable](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[VisitorID] [int] NOT NULL,
	[ZoneId] [int] NOT NULL,
 CONSTRAINT [PK_VisitorZoneTable] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ZoneTable]    Script Date: 5/28/2015 8:25:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ZoneTable](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ZoneName] [varchar](max) NOT NULL,
 CONSTRAINT [PK_ZoneTable] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[VisitorDetailView]    Script Date: 5/28/2015 8:25:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VisitorDetailView]
AS

SELECT v.ID,v.Name,v.Email,v.ContactNumber,z.ID AS ZoneID,z.ZoneName FROM VisitorTable AS v LEFT OUTER JOIN VisitorZoneTable AS vz ON v.ID = vz.VisitorID LEFT OUTER JOIN ZoneTable AS z ON vz.ZoneId = z.ID

GO
SET IDENTITY_INSERT [dbo].[VisitorTable] ON 

INSERT [dbo].[VisitorTable] ([ID], [Name], [Email], [ContactNumber]) VALUES (1, N'Sajib', N'sajib49@gmail.com', N'+8801676260176')
INSERT [dbo].[VisitorTable] ([ID], [Name], [Email], [ContactNumber]) VALUES (2, N'Adil', N'adilhasan62@yahoo.com', N'+880192000000')
INSERT [dbo].[VisitorTable] ([ID], [Name], [Email], [ContactNumber]) VALUES (3, N'Shourov', N'shourov149@yahoo.com', N'+880167000000')
SET IDENTITY_INSERT [dbo].[VisitorTable] OFF
SET IDENTITY_INSERT [dbo].[VisitorZoneTable] ON 

INSERT [dbo].[VisitorZoneTable] ([ID], [VisitorID], [ZoneId]) VALUES (1, 17, 1)
INSERT [dbo].[VisitorZoneTable] ([ID], [VisitorID], [ZoneId]) VALUES (2, 17, 2)
INSERT [dbo].[VisitorZoneTable] ([ID], [VisitorID], [ZoneId]) VALUES (3, 17, 4)
SET IDENTITY_INSERT [dbo].[VisitorZoneTable] OFF
SET IDENTITY_INSERT [dbo].[ZoneTable] ON 

INSERT [dbo].[ZoneTable] ([ID], [ZoneName]) VALUES (1, N'Web Design & Develop')
INSERT [dbo].[ZoneTable] ([ID], [ZoneName]) VALUES (2, N'Mobile App Zone')
INSERT [dbo].[ZoneTable] ([ID], [ZoneName]) VALUES (3, N'Games & Multimedia Zone')
SET IDENTITY_INSERT [dbo].[ZoneTable] OFF
ALTER TABLE [dbo].[VisitorZoneTable]  WITH CHECK ADD  CONSTRAINT [FK_VisitorZoneTable_VisitorTable] FOREIGN KEY([VisitorID])
REFERENCES [dbo].[VisitorTable] ([ID])
GO
ALTER TABLE [dbo].[VisitorZoneTable] CHECK CONSTRAINT [FK_VisitorZoneTable_VisitorTable]
GO
ALTER TABLE [dbo].[VisitorZoneTable]  WITH CHECK ADD  CONSTRAINT [FK_VisitorZoneTable_ZoneTable] FOREIGN KEY([ZoneId])
REFERENCES [dbo].[ZoneTable] ([ID])
GO
ALTER TABLE [dbo].[VisitorZoneTable] CHECK CONSTRAINT [FK_VisitorZoneTable_ZoneTable]
GO
USE [master]
GO
